Hello World
<br/>
<br/>
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
<br/>
<input type="button" onclick="FB.login()" value="Facebook Login">
<br/>
<br/>
<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false"
  data-use-continue-as="false"></div>