<html>

<head>
    <title>koa ejs</title>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '572072519836403',
                cookie: true,
                xfbml: true,
                version: 'v2.12'
            });

            FB.AppEvents.logPageView();

            FB.Events.subscribe('auth.login', (response) => {
                console.log('sss');
                
                console.log(response);
            })

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                console.log(response);
                //statusChangeCallback(response);
            });

            FB.api("/me?fields=id,name,email,first_name,last_name", function (res) {
                console.log(res)
            })
        }
    </script>

</head>

<body>
    <h3>koa ejs</h3>
    <%- body %>
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src =
                    'https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.12&appId=572072519836403&autoLogAppEvents=1';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
</body>

</html>